/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-Oct-2022, 20:23:34
    Author     : USER
*/

body {
    margin: 0px;
    background-color: rgb(56,220, 250);
    overflow: hidden;
}